<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <span style="float:right"><img src="https://www.idanttc.in/images/ncte_logo.png" width="80" height="85"></span>
      <span style="float:right"><img src="https://www.idanttc.in/images/vu_logo.png" width="80" height="80"></span>

      <span style="float:right"><img src="https://www.idanttc.in/images/wbpe_logo.png" width="80" height="80"></span>
      <img src="https://www.idanttc.in/images/logo_new.png" width="250" height="61" alt=""/>
      <h3 align="left">Teachers Training College</h3>
      <font size="2">(Recognized by NCTE and Affiliated to WBUTTEPA & WBBPE)</font>
    </div>

    <div class="fl_right">
      <ul>
        <li class="last"><a target="_blank" href="http://www.google.com">Search</a></li>
        <li><a href="contact.php#contact">Online Support</a></li>
        <li><a href="contact.php#contact">Contact Us</a></li>
      </ul>
      <p>Mob: 9434146447 | 9732793625</p>
      <p>Ph: 03228-239222 | Mail: admin@idanttc.in</p>
    </div>
    <br class="clear"/>
  </div>
</div>
